/* 
6773
.code-embed-my-first-game {
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    display: block;
    overflow: hidden;
  } */

/* //6781
.image-box-my-first-game {
    grid-row-gap: 8px;
    background-color: #2c323b;
    border-radius: 24px;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 324px;
    min-width: 324px;
    max-width: 324px;
    height: 300px;
    min-height: auto;
    max-height: none;
    margin-top: 0;
    padding: 0;
    text-decoration: none;
    display: flex;
    position: absolute;
    overflow: visible;
    box-shadow: 0 16px 32px #0c0c0d66;
  } */



  /* //6807 */
  /* .text-container-13-copy-copy-my-first-game {
    grid-row-gap: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 60px;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    display: flex;
  } */

/* //7120 */
  /* .text-container-13-copy-copy-my-first-game {
    align-items: flex-start;
    margin-left: 0;
  } */

/* 8859 */
  /* .image-box-my-first-game {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    min-width: 400px;
    max-width: none;
    height: 232px;
    min-height: 232px;
    max-height: 232px;
    margin-top: 65px;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    overflow: visible;
  } */

  /* 8876 */
  /* .text-container-13-copy-copy-my-first-game {
    padding-left: 0;
    padding-right: 0;
  } */

/* 10047 */
  /* .code-embed-my-first-game {
    overflow: hidden;
  } */

  /* 10049 */
  /* .image-box-my-first-game {
    flex-flow: wrap;
    width: 87%;
    min-width: 336px;
    max-width: 336px;
    height: 300px;
    min-height: 300px;
    max-height: 352px;
    margin-top: 73px;
    margin-bottom: 0;
    padding: 0;
    left: 60px;
  } */

  /* 12138 */
 
/* } */