
    @keyframes animateBubble {
      0% {
        margin-left: 0px;
        margin-bottom: 20px;
      }

      25% {
        margin-left: 25%;
        margin-bottom: 35px;
      }

      50% {
        margin-left: 50%;
        margin-bottom: 15px;
      }

      75% {
        margin-left: 75%;
        margin-bottom: -5px;
      }

      100% {
        margin-left: 100%;
        margin-bottom: 0px;
      }
    }


    @keyframes animateBubble2 {
      0% {
        margin-left: 0px;
        margin-bottom: -20px;
      }

      25% {
        margin-left: 25%;
        margin-bottom: 35px;
      }

      50% {
        margin-left: 50%;
        margin-bottom: 15px;
      }

      75% {
        margin-left: 75%;
        margin-bottom: -5px;
      }

      100% {
        margin-left: 100%;
        margin-bottom: 0px;
      }
    }


    @keyframes animateBubble3 {
      0% {
        margin-left: 0px;
        margin-top: 0px;
      }

      25% {
        margin-left: 25%;
        margin-top: 75px;
      }

      50% {
        margin-left: 50%;
        margin-top: 100px;
      }

      75% {
        margin-left: 75%;
        margin-top: 140px;
      }

      100% {
        margin-left: 100%;
        margin-top: 200px;
      }
    }


    @keyframes pop_bubble {
        100% {
            transform: scale(var(--scale, 1));
        }
    }



    /* OBJECTS */
    .bubble {
      border-radius: 50%;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
      height: 200px;
      position: absolute;
      width: 200px;
      z-index: 5;
    }

    .bubble:after {
      background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
      border-radius: 50%;
      box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
      content: "";
      height: 180px;
      left: 10px;
      position: absolute;
      width: 180px;
    }



    .x1 {
      -webkit-animation: animateBubble3 9s linear 1, sideWays 5s ease-in-out 1 alternate;
      -moz-animation: animateBubble3 9s linear 1, sideWays 5s ease-in-out 1 alternate;
      animation: animateBubble3 9s linear 1, sideWays 5s ease-in-out 1 alternate;

      left: -5%;
      top: 10%;

      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
    }



    .x2 {
      -webkit-animation: animateBubble2 4s linear 1, sideWays 4s ease-in-out 1 alternate;
      -moz-animation: animateBubble2 4s linear 1, sideWays 4s ease-in-out 1 alternate;
      animation: animateBubble2 4s linear 1, sideWays 4s ease-in-out 1 alternate;
      left: -5%;
      top: 30%;

      -webkit-transform: scale(0.4);
      -moz-transform: scale(0.4);
      transform: scale(0.4);
    }

    .x3 {
      -webkit-animation: animateBubble2 5s linear 1, sideWays 1s ease-in-out 1 alternate;
      -moz-animation: animateBubble2 5s linear 1, sideWays 1s ease-in-out 1 alternate;
      animation: animateBubble2 5s linear 1, sideWays 1s ease-in-out 1 alternate;
      left: 0%;
      top: 5%;

      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      transform: scale(0.7);
    }


    .x4 {
      -webkit-animation: animateBubble2 11s linear 1, sideWays 3s ease-in-out 1 alternate;
      -moz-animation: animateBubble2 11s linear 1, sideWays 3s ease-in-out 1 alternate;
      animation: animateBubble2 11s linear 1, sideWays 3s ease-in-out 1 alternate;

      left: 20%;
      top: 60%;

      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      transform: scale(0.3);
    }

    .x5 {
      animation: animateBubble var(--animation-duration, 6s) linear 1, sideWays 4s ease-in-out 1 alternate;
      left: 0;
      top: 70%;
      transform: scale(0.5);
    }


    .x6 {
      -webkit-animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate;
      -moz-animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate;
      animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate;

      left: 50%;
      top: 0;

      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
    }

    .x7 {
      -webkit-animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate;
      -moz-animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate;
      animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate;

      left: 50%;
      top: 42%;

      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
    }

    .x8 {
      -webkit-animation: animateBubble 4s linear 1, sideWays 3s ease-in-out 1 alternate;
      -moz-animation: animateBubble 4s linear 1, sideWays 3s ease-in-out 1 alternate;
      animation: animateBubble 4s linear 1, sideWays 3s ease-in-out 1 alternate;

      left: 80%;
      top: 10%;

      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      transform: scale(0.3);
    }


    
    /* @keyframes explode {
      0% {
        opacity: 1;
      }

      100% {
        transform: scale(1.3);
        opacity: 0;
      }
    } */

    @keyframes pop_bubble {
        100% {
            transform: scale(var(--scale, 1));
        }
    }

    .pop1{ 
      --scale: 0.8;
      animation: animateBubble3 9s linear 1, sideWays 5s ease-in-out 1 alternate, 
      pop_bubble 0.1s ease-in-out 1;
    }

    .pop2 {
        --scale: 0.6;
        animation: animateBubble2 4s linear 1, sideWays 4s ease-in-out 1 alternate, 
        pop_bubble 0.1s ease-in-out 1;
    }

    .pop3 {
      --scale: 0.9;
        animation: animateBubble2 5s linear 1, sideWays 1s ease-in-out 1 alternate, 
        sideWays 1s ease-in-out 1 alternate, pop_bubble 0.1s ease-in-out 1;
    }

    .pop4 {
      --scale:0.5;
        animation: animateBubble2 11s linear 1, sideWays 3s ease-in-out 1 alternate, 
        pop_bubble 0.1s ease-in-out 1;
    }

    .pop5 {
      --scale: 0.7;
        animation: animateBubble var(--animation-duration, 6s) linear 1, sideWays 4s ease-in-out 1 alternate,
         pop_bubble 0.1s ease-in-out 1;
    }

    .pop6 {
      --scale: 0.8;
        animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate,
        pop_bubble 0.1s ease-in-out 1;
    }

    .pop7 {
      --scale: 0.6
        animation: animateBubble 4s linear 1, sideWays 2s ease-in-out 1 alternate, pop_bubble 0.1s ease-in-out 1;
    }

    .pop8 {
      --scale: 0.5;
        animation: animateBubble 4s linear 1, sideWays 3s ease-in-out 1 alternate, pop_bubble 0.1s ease-in-out 1;
    }

 
    .animationContainer {
        position: absolute;
        overflow-x: hidden;
        /* Ensure overflow-x is hidden */
        width: 100%;
        /* Ensure the container takes the full width */
        height: 100vh;
        /* Adjust height as needed */
      }





